.register-user {
    display: block;
    height: 100%;
    margin: 0 auto;
    max-width: 680px;
    padding: 0 var(--lumo-space-l);
}

.register-user vaadin-form-layout > * {
    width: 75%;
}
.register-user vaadin-form-layout vaadin-horizontal-layout {
    align-items: center;
}
.register-user vaadin-grid-pro img {
    border-radius: 75%;
    flex-shrink: 0;
    height: var(--lumo-size-m);
    width: var(--lumo-size-m);
}

