.register-user {
    display: block;
    height: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 var(--lumo-space-l);
}
.register-user vaadin-grid-pro {
    height: 100%;
}
.register-user vaadin-grid-filter,
.register-user vaadin-grid-filter > * {
    width: 100%;
}
.register-user vaadin-grid-pro vaadin-horizontal-layout {
    align-items: center;
}
.register-user vaadin-grid-pro img {
    border-radius: 50%;
    flex-shrink: 0;
    height: var(--lumo-size-m);
    width: var(--lumo-size-m);
}

